rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /admins/{doc} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && isSuperAdmin();
    }

    match /artifact_groups/{doc} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin();
    }

    match /artifacts/{doc} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin();
    }

    match /sections/{doc} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin();
    }

    match /tags/{doc} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin();
    }

    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.token.email));
    }

    function isSuperAdmin() {
      return isAdmin()
        && get(/databases/$(database)/documents/admins/$(request.auth.token.email)).data.isSuper == true;
    }
  }
}
